
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>Tamaño de Fuente</ion-label>
    <ion-range  min="12" max="24" step="2">
      <ion-icon size="small" slot="start">small</ion-icon>
      <ion-icon size="large" slot="end">large</ion-icon>
    </ion-range>
  </ion-item>

</ion-content>
