<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Categoría Producto</ion-title>
  </ion-toolbar>
  <style>
    .styled-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }
  </style>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large" class="ion-text-center">Categoría Producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Agregar o Actualizar Categoría</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="floating">ID Categoría</ion-label>
          <ion-input name="id" type="number" placeholder="Ingrese Id Categoría" [(ngModel)]="id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input name="nombre" type="text" placeholder="Ingrese el Nombre de Categoría" [(ngModel)]="nombre"></ion-input>
        </ion-item>
        <ion-button type="submit" id="addCategoria" (click)="addCategoria()">Agregar</ion-button>
        <ion-button type="submit" id="updateCategoriaProducto" (click)="updateCategoriaProducto()">Actualizar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Buscar o Eliminar Categoría por ID</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="floating">ID Categoría</ion-label>
          <ion-input name="id" type="number" placeholder="Ingrese Id Categoría" [(ngModel)]="id"></ion-input>
        </ion-item>
        <ion-button type="submit" id="getById" (click)="getById()">Obtener</ion-button>
        <ion-button type="submit" id="deleteCategoriaProducto" (click)="deleteCategoriaProducto()">Eliminar</ion-button>
      </form>
      <div *ngIf="categoriaProducto">
        <ion-item>
          <ion-label position="floating">ID Categoría</ion-label>
          <ion-input name="id" type="number" [(ngModel)]="categoriaProducto.id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input name="nombre" type="text" [(ngModel)]="categoriaProducto.nombre"></ion-input>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Últimos 5 Categorías de Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <table class="styled-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaCategoria">
              <td>{{ item.id }}</td>
              <td>{{ item.nombre }}</td>
            </tr>
          </tbody>
        </table>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
