<ion-content [fullscreen]="true">
    <ion-header [translucent]="true">
      <ion-toolbar color="primary">
        <ion-title>
          <h2 style="color: rgb(5, 5, 5); font-family: 'Times New Roman', Times, serif; text-align: center; margin-top: auto;"> Agregar de Categorias</h2>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Categoría Producto</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item color="danger">
      <ion-label position="float">Ingrese Nombre Categoria;</ion-label> 
      <ion-input id="nombreCategoria" type="text" placeholder="__________" [(ngModel)]="nombre"></ion-input>
      
      <br>  
      <ion-button expand="block" fill="outline" id="addCategoria" (click)="addCategoria()">Agregar Categoria</ion-button>
    </ion-item>
    <br>

    <br>
    <ion-list>
      <ion-item *ngFor="let item of listaCategoria">
        {{item.nombre}} 
      </ion-item>
    </ion-list>


    <ion-toolbar color="primary">
      <h2 style="color: rgb(5, 5, 5); font-family: 'Times New Roman', Times, serif; text-align: center; margin-top: auto;">Mostrar CategoriaProducto por ID</h2>
    </ion-toolbar>

      <ion-item color="danger">
        <ion-label position="float">Ingrese el ID de Categoria;</ion-label> 
        <ion-input id="id" type="number" placeholder="___________" [(ngModel)]="id"></ion-input>
        <br>
        <ion-button expand="block" fill="outline" id="getById" (click)="getById()">Obtener Categoria</ion-button>
      </ion-item>    
    

      <ion-item>
        <ion-input id="id" type="number" placeholder="Ingrese Id CategoriaProducto" [(ngModel)]="id"></ion-input>
        <ion-button id="getById" (click)="getById()">Obtener Categoria</ion-button>
        <ion-button id="deleteCategoriaProducto" (click)="deleteCategoriaProducto()">Eliminar Categoria</ion-button>
      </ion-item>

      <div *ngIf="categoriaProducto">
        <p><strong>ID:</strong> {{ categoriaProducto.id }}</p>
        <p><strong>Nombre:</strong> {{ categoriaProducto.nombre }}</p>
      </div>
  
      
      <br>
    <ion-list>
      <ion-item *ngFor="let item of listaCategoria">
        <b>id</b>:{{item.id}}<b>nombre</b>:{{item.nombre}}; 
      </ion-item>
      <br>


      <br>
      <div *ngIf="categoriaProducto" position="float">
        <p><strong position="float">ID:</strong> {{categoriaProducto.id}} <strong position="float">Nombre:</strong> {{categoriaProducto.nombre}}</p>
      <br>
      </div>
    </ion-list>
    
</ion-content>
