<ion-content [fullscreen]="true">
    <ion-header [translucent]="true">
      <ion-toolbar color="primary">
        <ion-title>
          <h2 style="color: rgb(5, 5, 5); font-family: 'Times New Roman', Times, serif; text-align: center; margin-top: auto;"> Agregar de Categorias</h2>
        </ion-title>
      </ion-toolbar>
    </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Agregar o Actualizar Categoría</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="floating">ID Categoría</ion-label>
          <ion-input name="id" type="number" placeholder="Ingrese Id Categoría" [(ngModel)]="id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input name="nombre" type="text" placeholder="Ingrese el Nombre de Categoría" [(ngModel)]="nombre"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" type="submit" id="addCategoria" (click)="addCategoria()">Agregar</ion-button>
        <ion-button  expand="full" color="primary" type="submit" id="updateCategoriaProducto" (click)="updateCategoriaProducto()">Actualizar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Buscar o Eliminar Categoría por ID</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="floating">ID Categoría</ion-label>
          <ion-input name="id" type="number" placeholder="Ingrese Id Categoría" [(ngModel)]="id"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" type="submit" id="getById" (click)="getById()">Obtener</ion-button>
        <ion-button expand="full" color="danger" type="submit" id="deleteCategoriaProducto" (click)="deleteCategoriaProducto()">Eliminar</ion-button>
      </form>
      <div *ngIf="categoriaProducto">
        <ion-item>
          <ion-label position="floating">ID Categoría</ion-label>
          <ion-input name="id" type="number" [(ngModel)]="categoriaProducto.id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input name="nombre" type="text" [(ngModel)]="categoriaProducto.nombre"></ion-input>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

    <br>
    <ion-list>
      <ion-item *ngFor="let item of listaCategoria">
        {{item.nombre}} 
      </ion-item>
    </ion-list>


    <ion-toolbar color="primary">
      <h2 style="color: rgb(5, 5, 5); font-family: 'Times New Roman', Times, serif; text-align: center; margin-top: auto;">Mostrar CategoriaProducto por ID</h2>
    </ion-toolbar>

      <ion-item color="danger">
        <ion-label position="float">Ingrese el ID de Categoria;</ion-label> 
        <ion-input id="id" type="number" placeholder="___________" [(ngModel)]="id"></ion-input>
        <br>
        <ion-button expand="block" fill="outline" id="getById" (click)="getById()">Obtener Categoria</ion-button>
      </ion-item>    
    

      <ion-item>
        <ion-input id="id" type="number" placeholder="Ingrese Id CategoriaProducto" [(ngModel)]="id"></ion-input>
        <ion-button id="getById" (click)="getById()">Obtener Categoria</ion-button>
        <ion-button id="deleteCategoriaProducto" (click)="deleteCategoriaProducto()">Eliminar Categoria</ion-button>
      </ion-item>

      <div *ngIf="categoriaProducto">
        <p><strong>ID:</strong> {{ categoriaProducto.id }}</p>
        <p><strong>Nombre:</strong> {{ categoriaProducto.nombre }}</p>
      </div>
  
      
      <br>
    <ion-list>
      <ion-item *ngFor="let item of listaCategoria">
        <b>id</b>:{{item.id}}<b>nombre</b>:{{item.nombre}}; 
      </ion-item>
      <br>


      <br>
      <div *ngIf="categoriaProducto" position="float">
        <p><strong position="float">ID:</strong> {{categoriaProducto.id}} <strong position="float">Nombre:</strong> {{categoriaProducto.nombre}}</p>
      <br>
      </div>
    </ion-list>
    
</ion-content>
