<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>
        <h2 style="color: rgb(5, 5, 5); font-family: 'Times New Roman', Times, serif; text-align: center; margin-top: auto;"> Lista de Pedidos</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pedido</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>Agregar - Actualizar - Obtener - Eliminar   Pedido</h2>

  <ion-item>
    <ion-input id="id" type="number" placeholder="Ingrese el ID Pedido" [(ngModel)]="id"></ion-input>
    <ion-input id="idUsuario" type="number" placeholder="Ingrese el ID de Usuario" [(ngModel)]="idUsuario"></ion-input>
    <ion-input id="fechaPedido" type="date" placeholder="Ingrese la Fecha" [(ngModel)]="fechaPedido"></ion-input>

    <ion-button id="addPedido" (click)="addPedido()">Agregar Pedido</ion-button>
    <ion-button id="updatePedido" (click)="updatePedido(id,idUsuario,fechaPedido)">Actualizar Pedido</ion-button>
    <ion-button id="getPedidoById" (click)="getPedidoById(id)">Obtener Pedido</ion-button>
    <ion-button id="deletePedido" (click)="deletePedido(id)">Eliminar Pedido</ion-button>
  </ion-item>
<br>

  <div *ngIf="pedido">
    <p><strong>ID:</strong> {{ pedido.id }}</p>
    <p><strong>Id Usuario:</strong> {{ pedido.idUsuario }}</p>
    <p><strong>Fecha:</strong> {{ pedido.fechaPedido }}</p>
  </div> 
<br>

  <h2>Agregar - Actualizar - Obtener - Eliminar   Detalle de Pedido</h2>

  <ion-item>
    <ion-input id="idPedido" type="number" placeholder="Ingrese el idPedido" [(ngModel)]="idPedido"></ion-input>
    <ion-input id="idProducto" type="number" placeholder="Ingrese el idProducto" [(ngModel)]="idProducto"></ion-input>
    <ion-input id="idProveedor" type="number" placeholder="Ingrese el idProveedor" [(ngModel)]="idProveedor"></ion-input>
    <ion-input id="cantidad" type="number" placeholder="Ingrese la cantidad" [(ngModel)]="cantidad"></ion-input>

    <ion-button id="addDetallePedido" (click)="addDetallePedido()">Agregar Detalle Pedido</ion-button>
    <ion-button id="updateDetalle" (click)="updateDetalle(idPedido,idProducto, idProveedor, cantidad)">Actualizar Detalle Pedido</ion-button>
    <ion-button id="getDetalleById" (click)="getDetalleById(idPedido,idProducto)">Obtener Detalle</ion-button>
    <ion-button id="deleteDetalle" (click)="deleteDetalle(idPedido,idProducto)">Eliminar Detalle</ion-button>
  </ion-item>
  <br>

    <div *ngIf="detalle">
      <p><strong>Id Pedido :</strong> {{ detalle.idPedido }}</p>
      <p><strong>Id Producto:</strong> {{ detalle.idProducto }}</p>
      <p><strong>Id Proveedor:</strong> {{ detalle.idProveedor }}</p>
      <p><strong>Cantidad:</strong> {{ detalle.cantidad }}</p>
    </div>
  <br>

<!--<h2>Buscar Pedido por ID</h2>
  <ion-item>
    <ion-input id="idBus" type="number" placeholder="Ingrese Id Pedido" [(ngModel)]="id"></ion-input>
  
    <ion-button id="getPedidoById" (click)="getPedidoById(id)">Obtener Pedido</ion-button>
  </ion-item>
  
  <div *ngIf="pedido">
    <p><strong>ID:</strong> {{ pedido.id }}</p>
    <p><strong>Id Usuario:</strong> {{ pedido.idUsuario }}</p>
    <p><strong>Fecha:</strong> {{ pedido.fechaPedido }}</p>
  </div> 
<br>  -->

<!--<h2>Buscar Detalle Pedido por ID</h2>
<ion-item>
  <ion-input id="idPedidoD" type="number" placeholder="Ingrese el ID de Pedido" [(ngModel)]="idPedido"></ion-input>
  <ion-input id="idProductoD" type="number" placeholder="Ingrese el idProducto" [(ngModel)]="idProducto"></ion-input>

  <ion-button id="getDetalleById" (click)="getDetalleById(idPedido,idProducto)">Obtener Detalle</ion-button>
</ion-item>
<div *ngIf="detalle">
  <p><strong>Id Pedido :</strong> {{ detalle.idPedido }}</p>
  <p><strong>Id Producto:</strong> {{ detalle.idProducto }}</p>
  <p><strong>Id Proveedor:</strong> {{ detalle.idProveedor }}</p>
  <p><strong>Cantidad:</strong> {{ detalle.cantidad }}</p>
</div>
<br> -->

<!--<h2>Eliminar Pedido</h2>
<ion-item>
<ion-input id="idD" type="text" placeholder="Ingrese el ID Pedido" [(ngModel)]="id"></ion-input> 
  <ion-input id="id" type="number" placeholder="Ingrese el ID Pedido" [(ngModel)]="id"></ion-input>

  <ion-button id="deletePedido" (click)="deletePedido(id)">Eliminar Pedido</ion-button>
</ion-item>
<br>-->
  
<!--<h2>Eliminar Detalle de Pedido</h2>
<ion-item>
  <ion-input id="idPedidoD" type="number" placeholder="Ingrese el ID de Pedido" [(ngModel)]="idPedido"></ion-input>
  <ion-input id="idProductoD" type="number" placeholder="Ingrese el idProducto" [(ngModel)]="idProducto"></ion-input>

  <ion-button id="deleteDetalle" (click)="deleteDetalle(idPedido,idProducto)">Eliminar Detalle</ion-button>
</ion-item>
<br> -->

  <h2>Ultimos 5 Pedidos </h2>
  <br>
    <ion-list>
      <ion-item *ngFor="let item of listaPedido">
        <b>Id </b>:{{item.id}};<b>Id Usuario</b>:{{item.idUsuario}}; <b>Fecha Pedido</b>:{{item.fechaPedido}}; 
      </ion-item>
    </ion-list>
  <br>

<h2>Detalle Ultimos 5 Pedidos</h2>

    <ion-list>
      <ion-item *ngFor="let item of listaDetalle">
        <b>Id Pedido </b> :{{item.idPedido}}; <b>Id Producto</b>:{{item.idProducto}}; <b>Id Proveedor</b>:{{item.idProveedor}}; <b>Cantidad </b>:{{item.cantidad}}
      </ion-item>
    </ion-list>
  <br>

</ion-content>
