<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    
  </ion-header>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Proveedor</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-toolbar color="success">
    <h2 style="color: rgb(5, 5, 5); font-family: 'Times New Roman', Times, serif; text-align: center; margin-top: auto;">Agregar Nuevo Proveedor</h2>
  </ion-toolbar>

  <ion-item>
    <!--<ion-input id="id_add" type="number" placeholder="Ingrese Id Proveedor" [(ngModel)]="id_add"></ion-input>-->
    <ion-input id="id" type="number" placeholder="Ingrese Id Proveedor" [(ngModel)]="id"></ion-input>
    <ion-input id="razonSocial" type="text" placeholder="Ingrese la razonSocial" [(ngModel)]="razonSocial"></ion-input>
    <ion-input id="nit" type="text" placeholder="Ingrese el nit" [(ngModel)]="nit"></ion-input>
    <ion-input id="direccion" type="text" placeholder="Ingrese la direccion" [(ngModel)]="direccion"></ion-input>
    <ion-input id="nombreProveedor" type="text" placeholder="Ingrese el nombreProveedor" [(ngModel)]="nombreProveedor"></ion-input>
    <ion-input id="telefono" type="text" placeholder="Ingrese el telefono " [(ngModel)]="telefono"></ion-input>
    <ion-input id="email" type="text" placeholder="Ingrese el email" [(ngModel)]="email"></ion-input>
    
    <ion-button id="addProveedor" (click)="addProveedor()">Agregar Proveedor</ion-button>
    <br>
    <ion-button id="updateProveedor" (click)="updateProveedor(id,razonSocial, nit, direccion, nombreProveedor, telefono, email)">Actualizar Proveedor</ion-button>
  </ion-item>

  <h2>Buscar Proveedor por ID</h2>
  <ion-item>
    <ion-input id="id" type="number" placeholder="Ingrese Id Proveedor" [(ngModel)]="id"></ion-input>
    <ion-button id="getById" (click)="getById(id)">Obtener Proveedor</ion-button>
  </ion-item>

  <div *ngIf="proveedor">
    <p><strong>ID:</strong> {{ proveedor.id }}</p>
    <p><strong>Razón Social:</strong> {{ proveedor.razonSocial }}</p>
    <p><strong>NIT:</strong> {{ proveedor.nit }}</p>
    <p><strong>Direccion:</strong> {{ proveedor.direccion }}</p>
    <p><strong>Nombre:</strong> {{ proveedor.nombreProveedor }}</p>
    <p><strong>Telefono:</strong> {{ proveedor.telefono }}</p>
    <p><strong>Email:</strong> {{ proveedor.email }}</p>
  </div>
  <br>

  <h2>Eliminar Proveedor</h2> 
  <ion-item>
    <!--<ion-input id="id_del" type="number" placeholder="Ingrese Id Proveedor" [(ngModel)]="id_del"></ion-input>-->
    <ion-input id="id" type="number" placeholder="Ingrese Id Proveedor" [(ngModel)]="id"></ion-input>
    
    <ion-button id="deleteProveedor" (click)="deleteProveedor(id)">Eliminar Proveedor</ion-button>
  </ion-item>

  <br>
  <ion-toolbar color="primary">
    <ion-title>
      <h2 style="color: rgb(5, 5, 5); font-family: 'Times New Roman', Times, serif; text-align: center; margin-top: auto;"> Lista de Proveedores</h2>
    </ion-title>
  </ion-toolbar>
  <h2>Top 5 Proveedores</h2>

<ion-button id="getAll" (click)="getAll()">Obtener Proveedor</ion-button>
  
  <ion-list>
    <ion-item *ngFor="let item of listaProveedor">
      <b>ID </b>:{{item.id}};<b>Razon Social </b>:{{item.razonSocial}}; <b>Nit </b>:{{item.nit}}; <b>Direccion </b>:{{item.direccion}}; <b>Nombre </b>:{{item.nombreProveedor}}; <b>Telefono </b>:{{item.telefono}}; <b>Email </b>:{{item.email}}
    </ion-item>
  </ion-list>
  
</ion-content>
