<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Panel de Administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large" class="ion-text-center">Panel de Administración</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Funcionalidades -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Funcionalidades</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- Botones para Funcionalidades -->
      <ion-button expand="full" (click)="mostrarFuncionalidades()">Mostrar Funcionalidades</ion-button>
      <ion-button expand="full" (click)="agregarFuncionalidad()">
      Agregar Funcionalidad
      <ion-input name="nombrefuncionalidad" type="text" placeholder="Ingrese el Nombre de la Funcionalidad" [(ngModel)]="funcionalidadNombre"></ion-input>
      <ion-input name="descripcionfuncionalidad" type="text" placeholder="Ingrese la Descripción de la Funcionalidad" [(ngModel)]="funcionalidadDescripcion"></ion-input>
      </ion-button>


      <!-- Lista de Funcionalidades -->
      <ion-list *ngIf="listaFuncionalidades.length > 0">
        <ion-item *ngFor="let funcionalidad of listaFuncionalidades">
          <ion-label>{{ funcionalidad.nombre }}</ion-label>
          <ion-note slot="end">{{ funcionalidad.descripcion }}</ion-note>
          <ion-button (click)="editarFuncionalidad(funcionalidad)">Editar Funcionalidad</ion-button>
          <ion-button (click)="guardarFuncionalidad()">Guardar Funcionalidad</ion-button>
          <ion-button (click)="eliminarFuncionalidad()">Eliminar Funcionalidad</ion-button>
        </ion-item>
      </ion-list>
      <div *ngIf="listaFuncionalidades.length === 0" class="ion-text-center">
        No hay funcionalidades disponibles.
      </div>

    </ion-card-content>
  </ion-card>

  <!-- Roles de Usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Roles de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- Botones para Roles de Usuario -->
      <ion-button expand="full" (click)="mostrarRolesUsuario()">Mostrar Roles Usuarios</ion-button>
      <ion-button expand="full" (click)="agregarRolUsuario()">
      Agregar Rol Usuario
      <ion-input name="nombrerolusuario" type="text" placeholder="Ingrese el Nombre del Rol de Usuario" [(ngModel)]="rolUsuarioNombre"></ion-input>
      <ion-input name="descripcionrolusuario" type="text" placeholder="Ingrese la Descripción del Rol de Usuario" [(ngModel)]="rolUsuarioDescripcion"></ion-input>
      </ion-button>


      <!-- Lista de Roles de Usuario -->
      <ion-list *ngIf="listaRolesUsuarios.length > 0">
        <ion-item *ngFor="let rol of listaRolesUsuarios">
          <ion-label>{{ rol.nombrE_ROL }}</ion-label>
          <ion-note slot="end">{{ rol.descripcion }}</ion-note>
          <ion-button (click)="editarRolUsuario(rol)">Editar Rol Usuario</ion-button>
          <ion-button (click)="guardarRolUsuario()">Guardar Rol Usuario</ion-button>
          <ion-button (click)="eliminarRolUsuario()">Eliminar Rol Usuario</ion-button>
        </ion-item>
      </ion-list>
      <div *ngIf="listaRolesUsuarios.length === 0" class="ion-text-center">
        No hay roles de usuario disponibles.
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>