<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrito Compra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carrito Compra</ion-title>
    </ion-toolbar>
  </ion-header>

<h2>Agregar - Actualizar Carrito de Compras</h2>
  <ion-item>
    <ion-input id="id" type="number" placeholder="Ingrese Id Carrito" [(ngModel)]="id"></ion-input>
    <ion-input id="fecha" type="date" placeholder="Ingrese la Fecha" [(ngModel)]="fecha"></ion-input>
    <ion-input id="idUsuario" type="text" placeholder="Ingrese el ID de Usuario" [(ngModel)]="idUsuario"></ion-input>
  
    <ion-button id="addCarrito" (click)="addCarrito()">Agregar Carrito</ion-button>
    <ion-button id="updateCarrito" (click)="updateCarrito(id,fecha,idUsuario)">Actualizar Carrito</ion-button>
  </ion-item>
  <br>

<h2>Obtener - Eliminar Carrito por ID</h2>
<ion-item>
  <ion-input id="id" type="number" placeholder="Ingrese Id del Carrito" [(ngModel)]="id"></ion-input>    
  <ion-button id="getCarritoById" (click)="getCarritoById()">Obtener Carrito</ion-button>
  <ion-button id="deleteCarrito" (click)="deleteCarrito(id)">Eliminar Carrito</ion-button>
</ion-item>
<ion-item>
  <div *ngIf="carritoCompra">
    <p><strong>ID:</strong> {{ carritoCompra.id }}</p>
    <p><strong>Fecha:</strong> {{ carritoCompra.fecha }}</p>
    <p><strong>ID Usuario:</strong> {{ carritoCompra.idUsuario }}</p>
  </div>
</ion-item>

<h2>Agregar - Actualizar Detalle Carrito</h2>
<ion-item>
  <ion-input id="idDetalle" type="number" placeholder="Ingrese Id Carrito" [(ngModel)]="idDetalle"></ion-input>
  <ion-input id="cantidad" type="number" placeholder="Ingrese la cantidad" [(ngModel)]="cantidad"></ion-input>
  <ion-input id="idProducto" type="number" placeholder="Ingrese el idProducto" [(ngModel)]="idProducto"></ion-input>
  <ion-input id="idCarritoCompra" type="number" placeholder="Ingrese el idCarritoCompra" [(ngModel)]="idCarritoCompra"></ion-input>

  <ion-button id="addDetalleCarrito" (click)="addDetalleCarrito()">Agregar Detalle</ion-button>
  <ion-button id="updateDetalle" (click)="updateDetalle()">Actualizar Detalle</ion-button>
</ion-item>
<br>

<h2>Obtener - Eliminar  Detalle Carrito por ID</h2>
<ion-item>
  <ion-input id="idDetalle" type="number" placeholder="Ingrese Id Detalle" [(ngModel)]="idDetalle"></ion-input>    
  <ion-button id="getDetalleById" (click)="getDetalleById()">Obtener Detalle</ion-button>
  <ion-button id="deleteDetalle" (click)="deleteDetalle(idDetalle)">Eliminar Detalle</ion-button>
</ion-item>
<ion-item>
  <div *ngIf="detalleCarrito">
    <p><strong>ID:</strong> {{ detalleCarrito.id }}</p>
    <p><strong>Cantidad:</strong> {{ detalleCarrito.cantidad }}</p>
    <p><strong>ID Producto:</strong> {{ detalleCarrito.idProducto }}</p>
    <p><strong>ID Carrito:</strong> {{ detalleCarrito.idCarritoCompra }}</p>
  </div>
</ion-item>

<h2>Ultimos 5 Carritos</h2>
<ion-list>
  <ion-item *ngFor="let item of listaCarrito">
    <b>id</b>:{{item.id}};<b>fecha</b>:{{item.fecha}}; <b>idUsuario</b>:{{item.idUsuario}}; 
  </ion-item>
</ion-list>

<h2>Utilimos 5 Detalles de  Carrito</h2>
<ion-list>
  <ion-item *ngFor="let item of listaDetalle">
    <b>id</b>:{{item.id}};<b>cantidad</b>:{{item.idProducto}}; <b>idCarritoCompra</b>:{{item.idCarritoCompra}}; <b>idCarritoCompra</b>:{{item.idCarritoCompra}}
  </ion-item>
</ion-list>

</ion-content>
