<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Carrito de Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large" class="ion-text-center">Carrito de Compra</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Agregar o Actualizar Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID del Carrito</ion-label>
        <ion-input type="number" [(ngModel)]="id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-input type="date" [(ngModel)]="fecha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID de Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="idUsuario"></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="addCarrito()">Agregar Carrito</ion-button>
      <ion-button expand="full" color="primary" (click)="updateCarrito(id, fecha, idUsuario)">Actualizar Carrito</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Obtener o Eliminar Carrito por ID</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID del Carrito</ion-label>
        <ion-input type="number" [(ngModel)]="id"></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="getCarritoById()">Obtener Carrito</ion-button>
      <ion-button expand="full" color="danger" (click)="deleteCarrito(id)">Eliminar Carrito</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="carritoCompra">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Detalles del Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>ID:</strong> {{ carritoCompra.id }}</p>
      <p><strong>Fecha:</strong> {{ carritoCompra.fecha }}</p>
      <p><strong>ID Usuario:</strong> {{ carritoCompra.idUsuario }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Agregar o Actualizar Detalle de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID del Detalle</ion-label>
        <ion-input type="number" [(ngModel)]="idDetalle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID del Carrito de Compra</ion-label>
        <ion-input type="number" [(ngModel)]="idCarritoCompra"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID del Producto</ion-label>
        <ion-input type="number" [(ngModel)]="idProducto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input type="number" [(ngModel)]="cantidad"></ion-input>
      </ion-item>

      <ion-button expand="full" color="primary" (click)="addDetalleCarrito()">Agregar Detalle</ion-button>
      <ion-button expand="full" color="primary" (click)="updateDetalle()">Actualizar Detalle</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Obtener o Eliminar Detalle de Carrito por ID</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID del Detalle</ion-label>
        <ion-input type="number" [(ngModel)]="idDetalle"></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="getDetalleById()">Obtener Detalle</ion-button>
      <ion-button expand="full" color="danger" (click)="deleteDetalle(idDetalle)">Eliminar Detalle</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="detalleCarrito">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Detalles del Detalle de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>ID:</strong> {{ detalleCarrito.id }}</p>
      <p><strong>Cantidad:</strong> {{ detalleCarrito.cantidad }}</p>
      <p><strong>ID Producto:</strong> {{ detalleCarrito.idProducto }}</p>
      <p><strong>ID Carrito:</strong> {{ detalleCarrito.idCarritoCompra }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Últimos 5 Carritos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of listaCarrito">
          <p><b>ID:</b> {{ item.id }}, <b>Fecha:</b> {{ item.fecha }}, <b>ID Usuario:</b> {{ item.idUsuario }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Últimos 5 Detalles de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of listaDetalle">
          <p><b>ID:</b> {{ item.id }}, <b>Cantidad:</b> {{ item.cantidad }}, <b>ID Producto:</b> {{ item.idProducto }}, <b>ID Carrito de Compra:</b> {{ item.idCarritoCompra }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
