<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Carrito de Compra</ion-title>
  </ion-toolbar>
  <style>
    .styled-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }
  </style>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>
      <h2 style="color: rgb(5, 5, 5); font-family: 'Times New Roman', Times, serif; text-align: center; margin-top: auto;"> Lista de Carrito de Compras</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Carrito Compra</ion-title>
      </ion-toolbar>
    </ion-header>

    <h2>Agregar Nuevo Carrito de Compras</h2>
      <ion-item>
        <ion-input id="fecha" type="date" placeholder="Ingrese la Fecha" [(ngModel)]="fecha"></ion-input>
        <ion-input id="idUsuario" type="text" placeholder="Ingrese el ID de Usuario" [(ngModel)]="idUsuario"></ion-input>
      
        <ion-button id="addCarrito" (click)="addCarrito()">Agregar Carrito</ion-button>
      </ion-item>
      <br>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Agregar o Actualizar Detalle de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID del Detalle</ion-label>
        <ion-input type="number" [(ngModel)]="idDetalle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID del Carrito de Compra</ion-label>
        <ion-input type="number" [(ngModel)]="idCarritoCompra"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID del Producto</ion-label>
        <ion-input type="number" [(ngModel)]="idProducto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input type="number" [(ngModel)]="cantidad"></ion-input>
      </ion-item>

      <ion-button expand="full" color="primary" (click)="addDetalleCarrito()">Agregar Detalle</ion-button>
      <ion-button expand="full" color="primary" (click)="updateDetalle()">Actualizar Detalle</ion-button>
    </ion-card-content>
  </ion-card>
    <ion-item>
      <ion-button id="addDetalleCarrito" (click)="addDetalleCarrito()">Agregar Detalle Carrito</ion-button>
    </ion-item>
    <br>

    <h2>Ultimos 5 Carritos</h2>
    <ion-list>
      <ion-item *ngFor="let item of listaCarrito">
        <b>fecha</b>:{{item.fecha}}; <b>idUsuario</b>:{{item.idUsuario}}; 
      </ion-item>
    </ion-list>

  <ion-card *ngIf="detalleCarrito">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Detalles del Detalle de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>ID:</strong> {{ detalleCarrito.id }}</p>
      <p><strong>Cantidad:</strong> {{ detalleCarrito.cantidad }}</p>
      <p><strong>ID Producto:</strong> {{ detalleCarrito.idProducto }}</p>
      <p><strong>ID Carrito:</strong> {{ detalleCarrito.idCarritoCompra }}</p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Últimos 5 Carritos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of listaCarrito">
          <p><b>ID:</b> {{ item.id }}, <b>Fecha:</b> {{ item.fecha }}, <b>ID Usuario:</b> {{ item.idUsuario }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->  

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Últimos 5 Carritos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table class="styled-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>ID Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaCarrito">
            <td>{{ item.id }}</td>
            <td>{{ item.fecha }}</td>
            <td>{{ item.idUsuario }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Últimos 5 Detalles de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of listaDetalle">
          <p><b>ID:</b> {{ item.id }}, <b>Cantidad:</b> {{ item.cantidad }}, <b>ID Producto:</b> {{ item.idProducto }}, <b>ID Carrito de Compra:</b> {{ item.idCarritoCompra }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Últimos 5 Detalles de Carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table class="styled-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cantidad</th>
            <th>ID Producto</th>
            <th>ID Carrito de Compra</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaDetalle">
            <td>{{ item.id }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.idProducto }}</td>
            <td>{{ item.idCarritoCompra }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
  



</ion-content>
