<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>
        <h2 style="color: rgb(5, 5, 5); font-family: 'Times New Roman', Times, serif; text-align: center; margin-top: auto;"> Lista de Productos</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Producto</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item color="danger">
      <ion-label position="float">Nombre del Producto;</ion-label> 
      <ion-input id="nombre" type="text" placeholder="__________" [(ngModel)]="nombre"></ion-input>
      <ion-label position="float">Agregar Id de Categoria;</ion-label>   
      <ion-input id="idCategoria" type="number" placeholder="__________" [(ngModel)]="idCategoria"></ion-input>  
      <ion-button expand="block" fill="outline" id="addProducto" (click)="addProducto()">Agregar Producto</ion-button>
      <br>
    </ion-item>
    <br>
    <ion-list>
      <ion-item *ngFor="let item of listaProducto">
        <ion-label position="float">{{item.nombre}}</ion-label>  
        <ion-label position="float">{{item.idCategoria}}</ion-label>  
      </ion-item>
    </ion-list>

</ion-content>
