<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Producto</ion-title>
  </ion-toolbar>
  <style>
    .styled-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }
  </style>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large" class="ion-text-center">Producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Agregar o Actualizar Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID del Producto</ion-label>
        <ion-input type="number" [(ngModel)]="id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre del Producto</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID de la Categoría</ion-label>
        <ion-input type="number" [(ngModel)]="idCategoria"></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="addProducto()">Agregar Producto</ion-button>
      <ion-button expand="full" color="primary" (click)="updateProducto(id, nombre, idCategoria)">Actualizar Producto</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Obtener o Eliminar Producto por ID</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID del Producto</ion-label>
        <ion-input type="number" [(ngModel)]="id"></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="getById()">Obtener Producto</ion-button>
      <ion-button expand="full" color="danger" (click)="deleteProducto(id)">Eliminar Producto</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="producto">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Detalles del Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>ID:</strong> {{ producto.id }}</p>
      <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
      <p><strong>ID Categoría:</strong> {{ producto.idCategoria }}</p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Lista de Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of listaProducto">
          <p><b>ID:</b> {{ item.id }}, <b>Nombre:</b> {{ item.nombre }}, <b>ID Categoría:</b> {{ item.idCategoria }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
-->

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Lista de Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <table class="styled-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>ID Categoría</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaProducto">
              <td>{{ item.id }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.idCategoria }}</td>
            </tr>
          </tbody>
        </table>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content> 